.container {
    border-radius: 8px;
    margin-top: 8px;
    padding: 20px;
    background-color: var(--background-secondary);

}

.smiley {
    margin: 32px
}

@media (max-width: 900px) {
    .smiley {
        margin: 0px
    }
    .last_on_small {
        order: 3
    }
}